:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #ffa400;
  --mainRed: #CB300F;
  
}

body {
  font-family: 'Jomolhari', serif !important;
  background-color: black;
  color: #eee !important;
  background-image: linear-gradient(243.87deg, #222 30.6%, #00001a 130.6%) !important;
  /* background-repeat: no-repeat, repeat; */
  background-size: cover
}

.section-header {
  display: flex;
  justify-content: space-evenly;
}

.link-group {
  display: flex;
  align-items: flex-end;
}

#logout {
  align-self: flex-end;
  margin-left: 10%;
}

.text-title {
  font-family: 'Yeon Sung', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding: 5px;
}

.App-header {
  display: flex;
  width: 100% !important;
  justify-content: center !important;
}

.App-title {
  font-size: 3rem;
  color: #eee;
  margin: 0 auto;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 10px !important;
  padding: 5px 10px !important;
  margin: auto auto !important;
}
.btn-black:hover {
  background: #5755d9 !important;
  color: var(--mainWhite) !important;
}

.outline {
  box-shadow: none !important;
}

.money-card {
  background-color: #660066 !important;
  border-width: 0px !important;
  margin: 0px !important;
  padding: 2px !important;
  width: 200px;
  position: fixed;
  right: 0%;
  top: 0%;
  opacity: .7;
}

/* #top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

